{% extends "index.html" %}

{% block body %}
<div>
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm-6">
          <div class="form-group">
            <form method="POST" action="{{ url_for('translate') }}">
              <textarea
                class="form-control"
                id="original-text"
                name="original-text"
                rows="4"
                placeholder="Enter text here..."
              >{{ original_text }}</textarea>
              <div class="row mt-1">
                <div class="col">
                  <button type="submit" class="btn btn-primary">
                    Translate
                  </button>
                </div>
                <div class="col">
                  <select class="form-control" id="language-select" name="language-select">
                    <option value="en">English</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="ru">Russian</option>
                    <option value="de">German</option>
                  </select>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-6 ml-auto">
          <div class="form-group">
            <textarea
              class="form-control"
              id="translation-text"
              rows="4"
              placeholder="Translated text here..."
            >{{ translation }}</textarea>
            <form method="POST" action="{{ url_for('save_translation') }}">
              <input type="hidden" name="original-text" value="{{ original_text }}">
              <input type="hidden" name="translated-text" value="{{ translation }}" id="translate-box">
              <button type="submit" class="btn btn-success mt-2" id="saveButton">Save</button>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mt-4">
        <div class="col-sm-12">
          <h4>Translation History</h4>
          <ul>
            {% for entry in history %}
            <li>{{ entry.original_text }} - {{ entry.translated_text }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
